@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');
*{
    background-color: #e6e6e6;
    font-family: 'Josefin Sans', sans-serif;
}
.container hr{
    height: 5px;
    border: none;
    border-radius: 10px;
    background: rgb(255, 144, 2);
}
.banner{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 140px;
}
.content{
    color: #252525;
}
.content p{
    font-size: 20px;
}
.examples{
    margin-top: -20px;
}
h3{
    font-size: 45px;
}
h4{
    font-size: 25px;
    margin-top: -20px;
}
.examples pre{
    position: relative;
    border: 2px solid rgb(255, 144, 2);
    margin: 10px;
    margin-top: -15px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Cousine', monospace;
    margin-bottom: 40px;
    width: 90%;
    overflow: auto;
}
.download{
    margin-top: -20px;
}
.download button{
    font-size: 25px;
    font-family: 'Cousine', monospace;
    border: 2px solid rgb(255, 144, 2);
    border-radius: 10px;
    margin-bottom: 16px;
    cursor: pointer;
}
.download button:hover{
    font-size: 30px;
    border: 2px solid #000000;
    background-color: rgb(255, 144, 2);
    margin-bottom: 10px;
}
.download center p{
    margin-top: -5px;
    font-size: 10px;
}
.credits{
    margin-top: -20px;
}
.credits p{
    font-size: 20px;
}
b:hover{
    color: #ff9002;
    cursor: default;
}
.nav button{
    font-size: 20px;
    font-family: 'Cousine', monospace;
    border: 2px solid rgb(255, 144, 2);
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.nav button:hover{
    font-size: 20px;
    border: 2px solid #000000;
    background-color: rgb(255, 144, 2);
}