@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');
*{
    background-color: #e6e6e6;
}
.container{
    font-family: 'Josefin Sans', sans-serif;
}
.container hr{
    height: 5px;
    border: none;
    border-radius: 10px;
    background: rgb(255, 144, 2);
}
.banner{
    top: 0%;
    left: 0%;
    width: 100%;
    height: 140px;
}
.content{
    color: #252525;
}
.content p{
    font-size: 20px;
}
.examples h3{
    font-size: 45px;
}
.examples h4{
    font-size: 25px;
    margin-top: -20px;
}
.examples pre{
    border: 2px solid rgb(255, 144, 2);
    margin: 10px;
    margin-top: -15px;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-family: 'Cousine', monospace;
    margin-bottom: 40px;
}